body {
    background-color: rgb(61, 66, 97);
    font-family: "Georgia", serif;
}

header {
    padding: 1%;
    margin: 4% 10%;
    text-align: center;
}

h1 {
    color: rgb(113, 13, 13);
    font-size: 400%;
}

.page-links h2 {
    color: rgb(255, 255, 255);
    font-size: 200%;
    
}

nav {
    text-align: center;
    padding: 1%;
    margin: 1%;
}

nav a {
    text-decoration: none;
    font-size: 200%;
    padding: 1%;
    margin: 1%;
    color: black;
    background-color: rgb(169, 131, 131);
    
}

section {
    background-color: white;
    text-align: center;
    padding:2%;
    margin: 2% 10%;
}

.page-links {
    background-color: rgb(69, 74, 104);
    text-align: center;
    padding:1px;
    margin:1% 40%;
}

img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: auto;
}