:root {
  --sidebar-width: 250px;
  --page-links-height: 80px;
}

* {
  box-sizing: border-box;
}

body {
    background-color: rgb(59, 63, 87);
    font-family: "Verdana", serif;
    line-height: 1.4;
}

h1, h2, h3, h4, nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(223, 189, 138);
    text-align: center;
    font-size: large;
    font-weight: 100;
}

.sidebar h2 {
    color: rgb(113, 13, 13);
    font-size: 2em;
}

.sidebar nav a {
    text-align: center;
    display: block;
    width: 95%;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    background-color: rgb(255, 236, 183);
    transition: background-color 0.1s; 
    margin: 0 auto
}

.sidebar nav a:hover {
  background-color:  rgba(255, 236, 183, 0.562);
}

.page-links {
    background: rgb(50, 50, 50);
    height: var(--page-links-height);
    width: calc(100vw - var(--sidebar-width));
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    padding: 20px;

    display: flex;
    align-items: center;    
    overflow-x: auto;     /* horizontal scrolling when too small */
    overflow-y: hidden;
    white-space: nowrap;    
}

.page-links nav {
    margin: 0 auto;
    display: inline-flex;
    gap: 1rem
}

.page-links nav a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    background-color: rgb(255, 236, 183);
    transition: background-color 0.1s; 
    padding: 6px;
}

.page-links nav a:hover {
  background-color:  rgba(255, 236, 183, 0.562);
}

body.with-page-links .content {
    margin-top: var(--page-links-height); /* Shift content down when top-bar present */
}

body.with-page-links .content [id]{
    scroll-margin-top: var(--page-links-height); /* Fix scroll location when pressing button*/
}

.content {
    margin-left: var(--sidebar-width);
    margin-right: 20px;
    padding: 20px;
}

.content a:link {
  color: pink;
  background-color: transparent;
}

.content a:visited {
  color: rgb(255, 96, 123);
  background-color: transparent;
}

.content h2 {
    margin-top: 20px;
    margin-bottom: 0;
}

.content p {
    margin-top: 5px;
}

section {
    /* background-color: white; */
    color: rgb(255, 255, 255);
    font-size: 120%;
    /* text-align: center; */
    padding:0px;
    margin: 0px;
}

h1 {
    color: white;
    font-size: 300%;
    text-align: center;
    padding-bottom:10px;
    margin: 0px;
}

h4 {
    margin-top: 7px;
    margin-bottom: 7px;
}

img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: auto;
    padding: 0px;
}


#portrait {
    max-width: 250px;
    width: 100%;
    height: auto;
    display: block;
    margin: 5px 20px;
    border: 4px solid rgb(113, 13, 13);
}