:root {
  --sidebar-width: 250px;
  --page-links-height: 100px;
}

* {
  box-sizing: border-box;
}

body {
    background-color: rgb(85, 89, 120);
    font-family: "Georgia", serif;
}

.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(223, 189, 138);
    text-align: center;
    font-size: large;
    font-weight: 100;
}

.sidebar h1 {
    color: rgb(113, 13, 13);
    font-size: 2em;
}

.sidebar nav a {
    text-align: center;
    display: block;
    width: 95%;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    background-color: rgb(255, 236, 183);
    transition: background-color 0.1s; 
    margin: 0 auto
}

.sidebar nav a:hover {
  background-color:  rgba(255, 236, 183, 0.562);
}

.content {
    margin-left: var(--sidebar-width);
    padding: 20px;
}

.page-links {
    background: rgb(50, 50, 50);
    height: var(--page-links-height);
    width: calc(100vw - var(--sidebar-width));
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    text-align: center;
}

.page-links h1 {
    color: rgb(255, 255, 255);
    font-size: 200%;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.page-links nav a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    background-color: rgb(255, 236, 183);
    transition: background-color 0.1s; 
    padding: 6px;
}

.page-links nav a:hover {
  background-color:  rgba(255, 236, 183, 0.562);
}

body.with-page-links .content {
    margin-top: var(--page-links-height); /* Shift content down when top-bar present */
}

body.with-page-links .content [id]{
    scroll-margin-top: var(--page-links-height); /* Fix scroll location when pressing button*/
}

section {
    /* background-color: white; */
    color: rgb(255, 255, 255);
    /* text-align: center; */
    /* padding:10px;
    margin: 2px 10px; */
}

img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: auto;
}

